<div id='home'>
  <%= render BoardComponent.new(@board) %>

  <div id='active-player-component'>
    <p>Player's turn:</p>
    <div id="active-player" style="background-color: <%= @active_player %>"></div>
  </div>

  <%= button_to "Restart", restart_path, method: :post, form: { data: { turbo_stream: true }} %>
</>

CONTINUAR DAQUI:
1) ADICIONA HIGHLITH PRA ULTIMA PEÇA MOVIDA
2) CONSERTAR BUG -> AO FAZER ROQUE, TORRE NÃO É AUTOMATICAMENTE ATUALIZADA PARA A NOVA POSICAO NA VIEW - OUTRA PEÇA MOVE SOZINHA?
3) ADICIONAR TRATAMENTO DE EVENTOS PARA TODAS AS POSSÍVEIS SITUACOES (COMO EMPATES, VITORIAS, ETC.)
4) AJUSTAR LÓGICA DE TODOS OS SONS
5) FAZER BOT JOGAR RECEBENDO APENAS UM FEN E RETORNANDO "FROM, TO" (NÃO PODE USAR LIBS EXTERNAS DE CHESS PRA NADA)
6) ISOLAR ACTIVE-PLAYER-COMPONENT EM UM COMPONENTE DE VERDADE
