<div id='home'>
  <%= render partial: 'board', locals: { board: @board } %>

  <div id='active-player-component'>
    <p>Player's turn:</p>
    <div id="active-player" style="background-color: <%= @active_player %>"></div>
  </div>

  <%= button_to "Restart", restart_path, method: :post, form: { data: { turbo_stream: true }} %>

  <div data-controller="bot-autoplays" data-bot-autoplays-active-player-value="<%= @active_player %>"></div>
</>

CONTINUAR DAQUI:
1) ADICIONAR TRATAMENTO DE EVENTOS PARA TODAS AS POSSÍVEIS SITUACOES (COMO EMPATES, VITORIAS, ETC.)
2) AJUSTAR LÓGICA DE TODOS OS SONS
3) FAZER BOT JOGAR RECEBENDO APENAS UM FEN E RETORNANDO "FROM, TO" (NÃO PODE USAR LIBS EXTERNAS DE CHESS PRA NADA)
4) ISOLAR ACTIVE-PLAYER-COMPONENT EM UM COMPONENTE DE VERDADE
5) EXIBIR PEÇAS JÁ CAPTURADAS POR CADA JOGADOR
6) PERMITIR ESCOLHER EM QUAL PEÇA PROMOVER
